body {
  box-sizing: border-box;
  margin: 0;
  height: 60vh;
  background-image: url("https://cdn.pixabay.com/photo/2016/04/04/14/12/monitor-1307227__480.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.greeting {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0.4, 0.7);
  padding: 5px;
  color: white;
  display: flex;
  font-size: 50px;
  letter-spacing: 3px;
  margin: 20px;
  text-shadow: 3px 2px 2px #f3f3f7;
}

.heading {
  text-shadow: 2px 2px 2px #4c4eec;
  text-align: center;
  padding: 15px;
  font-size: 350%;
  letter-spacing: 2px;
  color: rgb(4, 3, 63);
  background-color: white;
}
